.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main{
  max-width: 1200px;
  margin: 0 auto;
  border:1px solid red;
}
.header{
  background-color: red;
}